/* nav bar css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color1: #FF8C00;
  --color2: #005BFF;
  --color3: #005BFF;
  --color4: #fbecd9;
}


#neubar {
    background-color: var(--color4);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.235);
    border-bottom: var(--color1);
    border-bottom-style: solid;
    border-width: 3px;
    
  }
  
  li > a{
   
    border-radius: 8px;
    border-width: 1px;
    padding: 1px;
    font-size: 1.1em;
    font-family: "Inter", sans-serif; ;
    
  }

  li > a:hover{
    color: var(--color2);
  }

  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
 
  }
  .nav-item .active:hover {
    color: var(--color3);
  }
  #neubar .dropdown-menu a:hover {
    color: black
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background-color: white;
  }
  a.navbar-brand {
    color: #454545
  }


  .card-header{
    border-style: solid;
    border-color: #005BFF;
    border-width: 2px;
    border-bottom: none;
  }
  /* card css */
  #card-css .card {
    width: 300px;
    
        border-radius: 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
        transition: transform 0.2s ease;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicione uma sombra para destacar o card */
    margin: 15px; /* Adicione margem ao redor do card para espaçamento */
  }

  #card-css .card-img-top {
    width: 100%;
    height: 300px; /* Substitua 200px pela altura desejada */
    object-fit: cover; /* Mantém a proporção da imagem e cobre toda a altura especificada */
    border-bottom: 1px solid #ccc;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card-body{
    background-color: white;
    border-color: var(--color3);
    border-style: solid;
    border-width: 1px;
    border-top: none;
  }

  .card-text{
    color: black;
  }

  .card-title{
    color: black;
    font-weight: bold; /* Adicione negrito, se desejar */
    margin-bottom: 10px; /* Adicione margem inferior para espaçamento */
    
  }

  #produtos{
    color: black;
    font-weight: 600; /* Adicione negrito, se desejar */
    margin-bottom: 10px; /* Adicione margem inferior para espaçamento */
  }

  #botao{
    background: white;
    color: black

    
  }

  #botao:hover{
    color: var(--color1)
  }
 .btn{
  border-color: var(--color1);
 }

  /* caracteristicas fundo da pagina */
  body {
    background-color: rgb(237, 233, 233);
    transition: background-color 1.5s ease;
  }

