<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

</html>

<head th:replace="~{fragments :: html_header}">
</head>

<head>
  <title>Desapegaí</title>
</head>

<body>
  <div th:replace="~{fragments :: html_nav}"></div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Anúncio</h5>
            <div class="d-flex flex-wrap ms-5 ps-5" id="card-css">
              <div class="card ms-5  mt-2" style="width: 18rem;">
                <img th:src="@{/ad-images/{id}/{photos}(id=${ad.id}, photos=${ad.photos})}" class="card-img-top"
                  alt="...">

                <div class="card-body">
                  <h5 class="card-title">
                    <p>R$ <span th:text="${ad.price}"></span></p>
                  </h5>
                  <p class="card-text" th:text="${ad.description}"></p>
                  <p id="address" class="card-text" th:text="${ad.seller.address}" onload="carrega_cep(this.id)"></p>
                  <p class="card-text"><small class="text-muted"> Publicado em: <span
                        th:text="${#dates.format(ad.publicationDate, 'dd/MM/yyyy HH:mm')}"></span></small></p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" sec:authorize="isAuthenticated()">
                            Ver localização média
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  

  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Localização média entre o anunciante</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div id="mapa" style="height: 400px; width: 760px; "></div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
  
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc9-NedwVuG0a_UWAysE5NRK3c7ApeNgQ&callback=inicializarMapa"
    async defer></script>

  <!-- Script CEP para exibir no anuncio -->
  <script>
    var id_local = "address";
    carrega_cep();
    function carrega_cep() {
      // Obtenha o elemento pelo ID
      let cep = document.getElementById(id_local);

      if (cep) {
        pesquisacep(cep.innerText);
      } else {
        console.error("Elemento não encontrado com ID: " + id_local);
      }
    }

    function meu_callback(conteudo) {
      if (!("erro" in conteudo)) {
        //Atualiza os campos com os valores.

        let endereco = conteudo.localidade + " - " + conteudo.uf;
        document.getElementById(id_local).innerText = endereco;
        document.getElementById(id_local).style.display = "block";
      }
      else {
        //CEP não Encontrado.
        alert("CEP não encontrado.");
      }
    }

    function pesquisacep(valor) {
      // Nova variável "cep" somente com dígitos.
      var cep = valor.replace(/\D/g, '');

      // Verifica se campo cep possui valor informado.
      if (cep != "") {
        // Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        // Valida o formato do CEP.
        if (validacep.test(cep)) {
          // Cria um elemento javascript.
          var script = document.createElement('script');

          // Sincroniza com o callback.
          script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

          // Insere script no documento e carrega o conteúdo.
          document.body.appendChild(script);
        } else {
          // CEP é inválido.
          limpa_formulário_cep();
          alert("Formato de CEP inválido.");
        }
      } else {
        // CEP sem valor, limpa formulário.
        limpa_formulário_cep();
      }
    }

  </script>

  <!-- Script API Google Maps -->
  <script th:if="${#authorization.expression('isAuthenticated()')}" th:inline="javascript">
    async function getCoordinates(address) {
      const response = await fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=${address}&key=AIzaSyAc9-NedwVuG0a_UWAysE5NRK3c7ApeNgQ`);
      const data = await response.json();
      return data.results[0].geometry.location;
    }

    async function getMidPointCoordinates(address1, address2) {
      const location1 = await getCoordinates(address1);
      const location2 = await getCoordinates(address2);

      const midLat = (location1.lat + location2.lat) / 2;
      const midLng = (location1.lng + location2.lng) / 2;

      return { lat: midLat, lng: midLng };
    }

    async function inicializarMapa() {
      var address1 = /*[[${#authentication.principal.address}]]*/ '';
      var address2 = /*[[${ad.seller.address}]]*/ '';
      const pontoEncontro = await getMidPointCoordinates(address1, address2);

      //  Objeto de opções para o mapa
      var opcoesMapa = {
        center: pontoEncontro,
        zoom: 12
      };

      // Novo mapa no elemento com o ID "mapa"
      var mapa = new google.maps.Map(document.getElementById('mapa'), opcoesMapa);

      // Marcador no ponto de encontro
      var marcador = new google.maps.Marker({
        position: pontoEncontro,
        map: mapa,
        title: 'Ponto de Encontro'
      });
    }



  </script>

</body>

</html>