<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"></html>
<head th:fragment="html_header">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
    <link rel = "icon" th:href="@{/images/logo.png}"  type = "image/x-icon"> 
    <link rel="stylesheet" href="" th:href="@{/css/styles.css}">
    
                 
</head>


<body>
  <nav th:fragment="html_nav" class="navbar navbar-expand-sm navbar-light" id="neubar">
    <div class="container">
      <a class="navbar-brand" href="/"><img class="logo" th:src="@{/images/logo.png}" height="60"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" th:href=@{/anuncios/novo_anuncio}>Desapegar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/sobre">Sobre</a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link mx-2" href="" th:href="@{/register}">Cadastrar</a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link mx-2" href="@{/login}">Entrar</a>
          </li>
          <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
            <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="principal.username"></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
              <li><a class="dropdown-item" th:href="@{/logout}">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>

