<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments :: html_header}"></head>
<head>
    <title>Acessar conta | Desapegaí</title>
</head>

<body>
<div th:replace="~{fragments :: html_nav}"></div>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div th:if="${param.error}">
                <div class="alert alert-danger">Senha ou email incorreto</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success"> Desconectado com sucesso.</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Acesse sua conta</h2>
                </div>
                <div class="card-body">
                    <form
                        method="post"
                        role="form"
                        th:action="@{/login}"
                        class="form-horizontal"
                    >
                        <div class="form-group mb-3">
                            <label class="control-label"> Email</label>
                            <input
                                type="text"
                                id="username"
                                name="username"
                                class="form-control"
                            />
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label"> Senha</label>
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="form-control"
                            />
                        </div>
                        <div class="form-group mb-3 text-center">
                            <button type="submit" class="btn btn-primary pe-5 ps-5 mb-1" >Entrar</button>
                            <br>
                            <span> Não tem uma conta?
                                <a th:href="@{/register}">Cadastre-se</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>