<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_header}"></head>
<head>
    <title>Criar conta | Desapegaí</title>
</head>

<body>
    <div th:replace="~{fragments :: html_nav}"></div>
    <br /><br /><br />
    <div class="container">
        <div class="row col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Criar conta</h2>
                </div>
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Registrado com sucesso
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/register/save}" th:object="${user}">
                        <div class="form-group mb-3">
                            <label class="form-label">Email</label>
                            <input class="form-control" id="email" name="email" 
                                th:field="*{email}" type="email" />
                            <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Apelido</label>
                            <input class="form-control" id="username" name="username" 
                                th:field="*{username}" />
                            <p th:errors="*{username}" class="text-danger"
                                th:if="${#fields.hasErrors('username')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Nome</label>
                            <input class="form-control" id="name" name="name" 
                                th:field="*{name}" />
                            <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Senha</label>
                            <input class="form-control" id="password" name="password" 
                                th:field="*{password}" type="password" />
                            <p th:errors="*{password}" class="text-danger"
                                th:if="${#fields.hasErrors('password')}"></p>
                        </div>

                        <div class="form-group text-center">
                            <button class="btn btn-primary ps-5 pe-5 mb-1" type="submit">Criar</button>
                            <br>
                            <span>Já tem uma conta? <a th:href="@{/login}">Entrar</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MfZyZ1OXnGCKJv3/JBfQckuP7rfrJpOVHjq8b8f+0Cj0A0bQswe5CkXZ2MI8jM2"
        crossorigin="anonymous"></script>
</body>

</html>
